// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "../sass/loginform.scss";
@import "../sass/signupform.scss";
@import "../sass//userpage.scss";
// Variables
@import "variables";

@import "~antd/dist/antd.css";

// Bootstrap
// @import "~bootstrap/scss/bootstrap";
.centerPos {
    margin: 0;
    // background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/* TABLES */
.table-row-not-yet-started {
    background-color: #ffffff;
}
.table-row-on-going {
    background-color: #9fdf7d;
}
.table-row-pending {
    background-color: #ffa726;
}
.table-row-finished {
    background-color: #00b2ee;
}

/* TABLES */
#product_name {
    text-align: center;
}
#department {
    text-align: center;
}
#section {
    text-align: center;
}
#team {
    text-align: center;
}
.ant-table {
    display: block;

    @media screen and (max-width: 600px) {
        &-thead {
            display: none;
        }

        &-thead > tr,
        &-tbody > tr {
            th,
            td {
                &:first-of-type {
                    padding-top: 1rem;
                }

                &:last-of-type {
                    padding-bottom: 1rem;
                }
            }

            > th,
            > td {
                display: block;
                width: auto !important;
                border: none;
                padding: 0 1rem;
                font-size: 1.1rem;

                &:last-child {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
}
.ant-table-container,
.ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 2px;
}
.title-page {
    display: inline-block;
    margin: 0.5rem 0 0.15rem 0.6rem;
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
}
#registration_page {
    height: 100% !important;
    position: relative;
    background-color: lawngreen;
}

.manage_users {
    height: auto;
    margin: 0.5rem 0 0.5rem 0.5rem;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    // background-size: 100px 50px;
    // background-position: left;
    // background-repeat: no-repeat;
    // background-image: url("../../public/THPlans.svg");
}
#components-layout-demo-responsive .logo {
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/henkou.svg");
}

#components-layout-demo-responsive .avatar {
    // border-radius: 50%;
    margin: 0px 0px 0 20px;
    color: white;
    flex-direction: column;
    align-content: center;
    p {
        // vertical-align: middle;
        // margin-top: auto;
        // word-wrap: break-word;
        margin: 5px 5px 5px 15px;
        color: white;
        font-size: 0.9vw;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
    }
    // background-image: url("../../public/henkou.svg");
}

#col_title .project_title {
    height: 60px;
    background-position: -50px;
    background-repeat: no-repeat;
    background-size: 350px 200px;

    background-image: url("../images/HRD Henkou.svg");
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
    height: 100%;
}

// #components-layout-demo-custom-trigger .trigger {
//     font-size: 18px;
//     line-height: 64px;
//     padding: 0 24px;
//     cursor: pointer;
//     transition: color 0.3s;
// }

// #components-layout-demo-custom-trigger {
//     overflow-y: auto;
//     overflow-x: hidden;
//     height: calc("100vh - 64px");
//     position: fixed;
//     left: 0;
// }
// #components-layout-demo-custom-trigger .trigger:hover {
//     color: #1890ff;
// }

// #components-layout-demo-custom-trigger .logo {
//     height: 32px;
//     background: rgba(255, 255, 255, 0.3);
//     margin: 16px;
// }

.site-layout .site-layout-background {
    background: #fff;
    margin: 5px;
    padding: 10px;
}

/* Manual Container */

[data-theme="compact"] .ant-advanced-search-form,
.ant-advanced-search-form {
    padding: 9px;
    // min-height: fit-content;
    height: 100%;

    // background-color: lawngreen;

    // border: 1px solid #d9d9d9;
    border-radius: 2px;
}

[data-theme="compact"] .ant-advanced-search-form .ant-form-item,
.ant-advanced-search-form .ant-form-item {
    display: flex;
}

[data-theme="compact"] .ant-advanced-search-form .ant-form-item-control-wrapper,
.ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
}

.ant-table {
    font-size: 12px;
}

/* row data */
.ant-table-tbody > tr > td {
    height: 5px;
    padding: 4px;
}
/* row tags */
.my-tag {
    font-size: 12px;
}
.ant-table-thead > tr > th {
    height: 5px;
    padding: 4px;
}
.ant-modal-body {
    padding: 12px;
}
@media only screen and (max-width: 600px), screen and (max-height: 300px) {
    #col_title .project_title {
        background-size: 300px 100px;
    }
}
